body {
 background-color: #404040;
}

.control {
 width: 551px;
 height: 50px;
 position: relative;
 left: 555px;
}

.control div {
 display: inline-block;
}

.title {
 font-size: 11pt;
 font-family: Verdana, monospace;
 text-align: center;
 color: #FFFFFF;
 user-select: none;
 -webkit-user-select: none;
 cursor: default;
}

.color {
 width: 55px;
 height: 18px;
 margin: 6px;
}

#brush {
 width: 25px;
 height: 18px;
 margin: 3px;
}

#buttonEraser, #buttonEraseAll {
 width: 80px;
 padding: 3px;
 font-size: 10pt;
 font-family: Verdana, monospace;
 text-align: center;
 background-color: #FFFFFF;
 cursor: pointer;
 user-select: none;
 -webkit-user-select: none;
}

#buttonEraser {
 margin-left: 100px;
 color: blue;
 border: 3px groove blue;	
}

#buttonEraseAll {
 color: red;
 border: 3px groove red;	
}

#buttonEraseAll:active {
 background-color: #FFD800;
}

#content {
 box-shadow: 3px 3px 10px 1px black;
 margin-left: 100px;
 border: 3px groove #FF6A00;
 background-color: #FFFFFF;
 cursor: none;	
}